#  D Tale

In [1]:
!pip install dtale

Requirement already satisfied: dtale in c:\users\hp\anaconda3\lib\site-packages (3.11.0)
Requirement already satisfied: dash-bootstrap-components<=1.3.1 in c:\users\hp\anaconda3\lib\site-packages (from dtale) (1.3.1)
Requirement already satisfied: scipy!=1.12.0rc1 in c:\users\hp\anaconda3\lib\site-packages (from dtale) (1.7.3)
Requirement already satisfied: xarray in c:\users\hp\anaconda3\lib\site-packages (from dtale) (0.20.1)
Requirement already satisfied: strsimpy in c:\users\hp\anaconda3\lib\site-packages (from dtale) (0.2.1)
Requirement already satisfied: dash in c:\users\hp\anaconda3\lib\site-packages (from dtale) (2.16.1)
Requirement already satisfied: contourpy in c:\users\hp\anaconda3\lib\site-packages (from dtale) (1.2.1)
Requirement already satisfied: werkzeug in c:\users\hp\anaconda3\lib\site-packages (from dtale) (2.0.3)
Requirement already satisfied: squarify in c:\users\hp\anaconda3\lib\site-packages (from dtale) (0.4.3)
Requirement already satisfied: six in c:\users\hp\anaconda3\lib\site-packages (from dtale) (1.16.0)
Requirement already satisfied: flask-ngrok in c:\users\hp\anaconda3\lib\site-packages (from dtale) (0.0.25)
Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (from dtale) (2.27.1)
Requirement already satisfied: dash-colorscales in c:\users\hp\anaconda3\lib\site-packages (from dtale) (0.0.4)
Requirement already satisfied: kaleido in c:\users\hp\anaconda3\lib\site-packages (from dtale) (0.2.1)
Requirement already satisfied: dash-daq in c:\users\hp\anaconda3\lib\site-packages (from dtale) (0.5.0)
Requirement already satisfied: networkx in c:\users\hp\anaconda3\lib\site-packages (from dtale) (2.7.1)
Requirement already satisfied: scikit-learn in c:\users\hp\anaconda3\lib\site-packages (from dtale) (1.0.2)
Requirement already satisfied: numpy in c:\users\hp\anaconda3\lib\site-packages (from dtale) (1.22.4)
Requirement already satisfied: Flask<2.3 in c:\users\hp\anaconda3\lib\site-packages (from dtale) (1.1.2)
Requirement already satisfied: seaborn in c:\users\hp\anaconda3\lib\site-packages (from dtale) (0.11.2)
Requirement already satisfied: itsdangerous in c:\users\hp\anaconda3\lib\site-packages (from dtale) (2.0.1)
Requirement already satisfied: et-xmlfile in c:\users\hp\anaconda3\lib\site-packages (from dtale) (1.1.0)
Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (from dtale) (1.4.2)
Requirement already satisfied: missingno in c:\users\hp\anaconda3\lib\site-packages (from dtale) (0.5.2)
Requirement already satisfied: matplotlib in c:\users\hp\anaconda3\lib\site-packages (from dtale) (3.5.1)
Requirement already satisfied: lz4 in c:\users\hp\anaconda3\lib\site-packages (from dtale) (4.3.3)
Requirement already satisfied: xlrd in c:\users\hp\anaconda3\lib\site-packages (from dtale) (2.0.1)
Requirement already satisfied: Flask-Compress in c:\users\hp\anaconda3\lib\site-packages (from dtale) (1.14)
Requirement already satisfied: statsmodels in c:\users\hp\anaconda3\lib\site-packages (from dtale) (0.13.2)
Requirement already satisfied: plotly in c:\users\hp\anaconda3\lib\site-packages (from dtale) (5.6.0)
Requirement already satisfied: openpyxl!=3.2.0b1 in c:\users\hp\anaconda3\lib\site-packages (from dtale) (3.0.9)
Requirement already satisfied: future>=0.14.0 in c:\users\hp\anaconda3\lib\site-packages (from dtale) (0.18.2)
Requirement already satisfied: beautifulsoup4 in c:\users\hp\anaconda3\lib\site-packages (from dtale) (4.11.1)
Requirement already satisfied: certifi in c:\users\hp\anaconda3\lib\site-packages (from dtale) (2021.10.8)
Requirement already satisfied: cycler in c:\users\hp\anaconda3\lib\site-packages (from dtale) (0.11.0)
Requirement already satisfied: nest-asyncio in c:\users\hp\anaconda3\lib\site-packages (from dash->dtale) (1.5.5)
Requirement already satisfied: retrying in c:\users\hp\anaconda3\lib\site-packages (from dash->dtale) (1.3.4)
Requirement already satisfied: dash-core-components==2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from dash->dtale) (2.0.0)
Requirement already satisfied: dash-table==5.0.0 in c:\users\hp\anaconda3\lib\site-packages (from dash->dtale) (5.0.0)
Requirement already satisfied: typing-extensions>=4.1.1 in c:\users\hp\anaconda3\lib\site-packages (from dash->dtale) (4.11.0)
Requirement already satisfied: setuptools in c:\users\hp\anaconda3\lib\site-packages (from dash->dtale) (61.2.0)
Requirement already satisfied: dash-html-components==2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from dash->dtale) (2.0.0)
Requirement already satisfied: importlib-metadata in c:\users\hp\anaconda3\lib\site-packages (from dash->dtale) (4.11.3)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\hp\anaconda3\lib\site-packages (from Flask<2.3->dtale) (2.11.3)
Requirement already satisfied: click>=5.1 in c:\users\hp\anaconda3\lib\site-packages (from Flask<2.3->dtale) (8.0.4)
Requirement already satisfied: colorama in c:\users\hp\anaconda3\lib\site-packages (from click>=5.1->Flask<2.3->dtale) (0.4.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\hp\anaconda3\lib\site-packages (from Jinja2>=2.10.1->Flask<2.3->dtale) (2.0.1)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\hp\anaconda3\lib\site-packages (from plotly->dtale) (8.0.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\hp\anaconda3\lib\site-packages (from beautifulsoup4->dtale) (2.3.1)
Requirement already satisfied: brotli in c:\users\hp\anaconda3\lib\site-packages (from Flask-Compress->dtale) (1.1.0)
Requirement already satisfied: zipp>=0.5 in c:\users\hp\anaconda3\lib\site-packages (from importlib-metadata->dash->dtale) (3.7.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib->dtale) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib->dtale) (9.0.1)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib->dtale) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib->dtale) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib->dtale) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib->dtale) (1.3.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas->dtale) (2021.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from requests->dtale) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests->dtale) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests->dtale) (3.3)
Requirement already satisfied: joblib>=0.11 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn->dtale) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn->dtale) (2.2.0)
Requirement already satisfied: patsy>=0.5.2 in c:\users\hp\anaconda3\lib\site-packages (from statsmodels->dtale) (0.5.2)

In [3]:
import seaborn as sns
df=sns.load_dataset('titanic')

In [4]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [7]:
import dtale
import warnings
warnings.filterwarnings("ignore")
dtale.show(df)

In [8]:
df2=sns.load_dataset('planets')
df2.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [9]:
dtale.show(df2)

In [14]:
s = df2['distance']
q1 = s.quantile(0.25)
q3 = s.quantile(0.75)
iqr = q3 - q1
iqr_lower = q1 - 1.5 * iqr
iqr_upper = q3 + 1.5 * iqr
outliers = dict(s[(s < iqr_lower) | (s > iqr_upper)])

In [15]:
# DISCLAIMER: 'df' refers to the data you passed in when calling 'dtale.show'

import numpy as np
import pandas as pd
import plotly.graph_objs as go

if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df2 = df2.reset_index().drop('index', axis=1, errors='ignore')
df2.columns = [str(c) for c in df2.columns]  # update columns to strings in case they are numbers

s = df2[~pd.isnull(df2['distance'])][['distance']]
chart, labels = np.histogram(s['distance'], bins=20)
import scipy.stats as sts
kde = sts.gaussian_kde(s['distance'])
kde_data = kde.pdf(np.linspace(labels.min(), labels.max()))
# main statistics
stats = df2['distance'].describe().to_frame().T
charts = [
	go.Bar(x=labels[1:], y=chart, name='Histogram'),
	go.Scatter(
		x=list(range(len(kde_data))), y=kde_data, name='KDE',		yaxis='y2', xaxis='x2',		line={'shape': 'spline', 'smoothing': 0.3}, mode='lines'
	)
]
figure = go.Figure(data=charts, layout=go.Layout({
    'barmode': 'group',
    'legend': {'orientation': 'h'},
    'title': {'text': 'distance Histogram (bins: 20) w/ KDE'},
    'xaxis2': {'anchor': 'y', 'overlaying': 'x', 'side': 'top'},
    'yaxis': {'side': 'left', 'title': {'text': 'Frequency'}},
    'yaxis2': {'overlaying': 'y', 'side': 'right', 'title': {'text': 'KDE'}}
}))

# If you're having trouble viewing your chart in your notebook try passing your 'chart' into this snippet:
#
# from plotly.offline import iplot, init_notebook_mode
#
# init_notebook_mode(connected=True)
# for chart in charts:
#     chart.pop('id', None) # for some reason iplot does not like 'id'
# iplot(figure)

2024-05-28 17:46:19,126 - INFO     - Executing shutdown due to inactivity...
2024-05-28 17:46:23,197 - INFO     - Executing shutdown...